<style>
    .modal-content{
        background-color: #212121;
    }
</style>

<div class="modal fade" id="exampleModalforconfirmsell-{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ owned_item.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: white;"></button>
        </div>
        <div class="modal-body">
          
                      <form method="POST">
                          {{ selling_form.hidden_tag()  }}
                          <br>
                          <h4 class="text-center">
                            You sure, you wanna sell it for ₹{{ owned_item.price}}?
                          </h4>
                          <br>
                          <input id="sold_item" name="sold_item" type="hidden" value="{{owned_item.name}}">
                          {{selling_form.submit(class="btn btn-outline-success btn-block")}}
                      </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>